USE [master]
GO

CREATE DATABASE [Teijin_POC]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Teijin_POC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Teijin_POC]
GO
/****** Object:  Table [dbo].[Sensores]    Script Date: 02/01/2025 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensores](
	[Id] [int] NULL,
	[Nome] [nchar](100) NULL,
	[Estado] [bit] NULL
) ON [PRIMARY]
GO
USE [master]
GO
