USE [master]
GO
/****** Object:  Database [Teijin_POC]    Script Date: 02/01/2025 11:01:12 ******/
CREATE DATABASE [Teijin_POC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Teijin_POC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Teijin_POC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Teijin_POC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Teijin_POC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Teijin_POC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Teijin_POC]
GO
/****** Object:  Table [dbo].[Sensores]    Script Date: 02/01/2025 11:01:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensores](
	[Id] [int] NULL,
	[Nome] [nchar](100) NULL,
	[Estado] [bit] NULL
) ON [PRIMARY]
GO
USE [master]
GO
